<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3 width:100px;" id="mySidebar"><br>
	<div class="w3-container">
		<a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
			<i class="fa fa-remove"></i>
		</a>
		<img src="launch/logo.png" style="width:45%;" class="w3-round"><br><br>
	</div>
	<div class="w3-bar-block">
		<a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>HOME</a>
		<a href="/about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
		<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
	</div>
	<div class="w3-panel w3-large">
    	<a href="https://www.facebook.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
	    <a href="https://www.instagram.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
		<a href="https://www.twitter.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
		<a href="https://www.linkedin.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
	</div>
</nav>